{% extends 'base.html.twig' %}

{% block title %}Ma commandes - Espace pièces traceurs{% endblock %}

{% block content %}

   <h1>Ma commande {{ order.reference }}</h1>
    <a href="{{ path('app_account_order') }}">Retour</a>
    <hr><strong></strong>
    <strong>Commande passée le : </strong> {{ order.createdAt|date('d/m/Y') }}<br/>
    <strong>Référence de commande </strong> {{ order.reference }}<br/>

    <strong>
        Détails
    </strong>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Prix total</th>
            <th scope="col">Photo </th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            {{ dump(order) }}
        <tr>
            <td>{{ product.produit }}</td>
            <td>{{ product.quantite }}</td>
            <td>{{ (product.prix/100)|round(2, 'floor')|number_format(2, ',', '.') }} €</td>
            <td><img src="{{ asset('assets/images/hp/' ~ product.produit.illustration) }}"></td>
            <th scope="row">
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
