{% if app.request.attributes.get('_route') == 'product_show' %}
    {% set category = product.category %}
    {% set subcategory = product.subcategory %}
    {% set productName = product.name %}
{% endif %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Page d'accueil</a></li>
        {% if category is defined %}
            <li class="breadcrumb-item"><a href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}</a></li>
        {% endif %}
        {% if subcategory is defined %}
            <li class="breadcrumb-item"><a href="{{ path('subcategory_show', {'slug': subcategory.slug}) }}">{{ subcategory.name }}</a></li>
        {% endif %}
        {% if productName is defined %}
            <li class="breadcrumb-item active" aria-current="page">{{ path('app_product', {'slug': product.slug}) }}">{{ product.name }}</li>
        {% endif %}
    </ol>
</nav>