{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
    <main class="main">
        <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Filtrer</h3>
                    <div class="card-text">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <h3>Nos produits</h3>
            <br>
            <div class="row">
                {% for product in products %}
                    <div class="col-6 col-sm-4 col-xl-3">
                        <div class="product-default inner-quickview inner-icon">
                            <figure>
                                <a href="{{ path('app_product', {'slug': product.slug}) }}">
                                    <img src="assets/images/hp/{{ product.illustration }}" width="217"
                                         height="217" alt="product">
                                </a>

                            </figure>

                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        <a href="#" class="product-category">{{ product.category }}</a>
                                    </div>
                                </div>
                                <h3 class="product-title">
                                    <a href="{{ path('app_product', {'slug': product.slug}) }}">{{ product.name }}</a>
                                </h3>
                                <div class="price-box">
                                    <span class="product-price">{{ (product.price /100) | number_format(2, ',' , '.')}} €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        </div>
    </main>


{% endblock %}
