{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Espace pièces traceurs{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('assets/js/main.js') }}">

    <div class="container">
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app_home') }}">
                    <i class="fa fa-home"></i>  Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_products') }}">Nos Produits</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_products_by_category', { 'categoryName': product.category }) }}">{{ product.category.name }}</a>
            </li>
         {#    <li class="breadcrumb-item">
                {% for tag in product.tags %}
                    <a href="{{ path('app_products_by_tag', { 'categoryName': category.name, 'tagName': tag }) }}">{{ tag }}</a>
                {% endfor %}
            </li>#}
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
</div>
    <br>



<main class="main">
    {# <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="xxxxxxxxx"></script>
    <div class="fb-share-button" data-href="{{ path('app_product', {'slug': product.slug}) }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path('app_product', {'slug': product.slug}) }}" class="fb-xfbml-parse-ignore">Partager</a></div>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ product.name }}&url={{ path('app_product', {'slug': product.slug}) }}" data-size="small">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> #}

    <div class="row">
        <div class="container">
            <div class="col-lg-5 col-md-6">

                <div class="slider-for">
                    {#  <div><img src="/assets/images/hp/{{ firstImage.name }}" alt="product"></div>#}
                    {% for image in product.productImages %}
                        <div>
                            <img src="/assets/images/hp/{{ image.name}}" alt="product"></div>
                    {% endfor %}
                </div>
                <div class="prod-thumbnail owl-dots">
                <div class="slider-nav">
                    {#  <div><img src="/assets/images/hp/{{ firstImage.name }}" alt="product"></div>#}
                    {% for image in product.productImages %}
                        <div>
                            <img src="{{ asset('assets/images/hp/' ~ image.name) }}" alt="product">
                        </div>
                    {% endfor %}
                </div>
                </div>
                <!-- Ajoutez les fichiers CSS et JS de Slick Carousel ici -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script type="text/javascript">
                    var $j = jQuery.noConflict();
                </script>
                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
                <script type="text/javascript">
                    $j(document).ready(function(){
                        $j('.slider-for').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false,
                            fade: true,
                            asNavFor: '.slider-nav'
                        });
                        $j('.slider-nav').slick({
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            asNavFor: '.slider-for',
                            dots: true,
                            centerMode: true,
                            focusOnSelect: true
                        });
                    });
                </script>
            </div>


            <div class="col-lg-7 col-md-6 product-single-details">
                <h1 class="product-title">{{ product.name }}</h1>
                {#  <div class="ratings-container">
                    <div class="product-ratings">
                        <span class="ratings" style="width:100%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="#" class="rating-link">( 6 Reviews )</a>
                </div>#}
                <hr class="short-divider">
                <div class="price-box">
                    {% if product.prixPromo is not null %}
                        <div class="label-group">
                            <div class="product-label label-hot">PROMO !</div>
                            <br>
                        </div>
                        <del class="product-price old" style="color: gray; text-decoration: line-through;">{{ (product.price / 100) | number_format(2, ',', '.') }} €</del>
                        <span class="product-price promo">{{ (product.prixPromo / 100) | number_format(2, ',', '.') }} €</span>
                    {% else %}
                        <span class="product-price">{{ (product.price / 100) | number_format(2, ',', '.') }} €</span>
                    {% endif %}
                </div>
                <div class="product-desc">
                    <p>
                        {{ product.description|raw }}
                    </p>
                </div>
                <ul class="single-info-list">
                    <li>CATEGORIE: <strong><a href="#" class="product-category">{{ product.category }}</a></strong></li>
                </ul>
                <div class="product-action">
                    <form method="post" action="{{ path('app_add_to_cart', {'id': product.id}) }}">
                        <div class="input-group mb-3 custom-input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary btn-quantity" type="button" onclick="decrement()">-</button>
                            </div>
                            <input type="number" name="quantity" value="1" min="1" max="{{ maxQuantity }}" class="form-control text-center" id="quantity-input">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-quantity" type="button" onclick="increment()">+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-add-to-cart">Ajouter au panier</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-danger" style="display: none;"></div>
                </div>


                <script>
                    function increment() {
                        var input = document.getElementById('quantity-input');
                        var currentValue = parseInt(input.value);
                        var maxValue = parseInt(input.max);
                        var errorMessageElement = document.querySelector('.text-danger');

                        if (currentValue < maxValue) {
                            input.value = currentValue + 1;
                            errorMessageElement.style.display = "none"; // Masquer le message d'erreur
                        } else {
                            errorMessageElement.textContent = "La quantité maximale autorisée est de " + maxValue;
                            errorMessageElement.style.display = "block"; // Afficher le message d'erreur
                        }
                    }
                    function decrement() {
                        var input = document.getElementById('quantity-input');
                        var currentValue = parseInt(input.value);
                        var minValue = parseInt(input.min);

                        if (currentValue > minValue) {
                            input.value = currentValue - 1;
                        }
                    }
                </script>

                <a href="#" class="btn btn-gray view-cart d-none">Voir le panier</a>
            </div>
        </div>
    </div>
        <br>

        <div class="container">
            <div class="product-single-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc-content"
                           role="tab" aria-controls="tab" aria-selected="true">Description</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-compatibles-tab" data-toggle="tab" href="#product-compatibles"
                           role="tab" aria-controls="product-compatibles" aria-selected="false">Modèles compatibles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-commentaire-tab" data-toggle="tab" href="#product-commentaire"
                           role="tab" aria-controls="product-commentaire" aria-selected="false">Commentaires</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                         aria-labelledby="product-tab-desc">
                        <div class="product-desc" role="tabpanel" aria-labelledby="product-tab-desc">
                            {{ product.description|raw }}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="product-compatibles" role="tabpanel"
                         aria-labelledby="product-compatibles-tab">
                        <div class="product-compatibles">
                            Cette pièce est compatible avec :<br>
                            {% for tag in product.tags %}
                                {% set slug = tag|slugify %}
                                <a href="{{ path('app_traceurs', {'slug': slug}) }}">{{ tag|replace({'-': ' '}) }}</a><br>
                            {% endfor %}


                        </div>
                    </div>


                    <div class="tab-pane fade" id="product-commentaire" role="tabpanel" aria-labelledby="product-commentaire-tab">
                        <div class="product-commentaire">
                            <div class="container">
                                <div class="product-reviews-content">
                                    <h3 class="review-title">{{ product.comments|length }} commentaire(s) pour {{ product.name }}</h3>                                </div>
                                <hr>
                            </div>
                        </div>


                        <div class="comment-list">
                            {% for comment in product.comments %}

                                <div class="comment mb-5" id="{{ comment.id }}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="comment-header">
                                                <div class="comment-arrow"></div>
                                                <div class="ratings-container float-sm-right">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:60%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div><!-- End .product-ratings -->
                                                </div>
                                                <span class="comment-by">
                                    {% if comment.user %}
                                        <strong>{{ comment.user.fullName }}</strong>
                                    {% else %}
                                        <strong>Anonyme</strong>
                                    {% endif %}
                                    – {{ comment.createdAt|date('d M Y') }}
                                </span>
                                            </div>
                                            <div class="comment-content">
                                                <p>{{ comment.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            {% endfor %}
                        </div>


                            <style>
                                .comment-area {
                                    padding: 10px;
                                    background-color: #f5f5f5;
                                    /* Ajoutez d'autres styles personnalisés ici */
                                }

                            </style>
                        <div class="container">
                            <div class="add-product-review col-md-6 col-xl-12">
                                <h3 class="review-title">Ajouter un commentaire</h3>

                                {{ form_start(commentForm, { 'attr': {'class': 'comment-form', 'id': 'comment-form'} }) }}

                                <div class="form-group">
                                    <label>Votre commentaire <span class="required">*</span></label>
                                    {{ form_widget(commentForm.content, { 'attr': {'class': 'form-control form-control-sm'} }) }}
                                </div><!-- End .form-group -->

                                {{ form_end(commentForm) }}
                            </div>
                        </div>


                        <script>
                                document.addEventListener('DOMContentLoaded', () => {
                                    const commentForm = document.getElementById('comment-form');
                                    commentForm.addEventListener('submit', async (e) => {
                                        e.preventDefault(); // Empêche le rechargement de la page

                                        // Récupérer les données du formulaire
                                        const formData = new FormData(commentForm);

                                        // Envoyer les données en utilisant Ajax
                                        try {
                                            const response = await fetch('{{ path('app_comment_add') }}', {
                                                method: 'POST',
                                                body: formData
                                            });

                                            if (response.ok) {
                                                const responseData = await response.json();

                                                // Créer un élément div pour le nouveau commentaire
                                                const newCommentElement = document.createElement('div');
                                                newCommentElement.innerHTML = responseData.message;

                                                // Ajouter le nouveau commentaire à la liste
                                                const commentList = document.querySelector('.comment-list');
                                                commentList.appendChild(newCommentElement);

                                                // Mettre à jour le compteur de commentaires
                                                const commentCountElement =document.getElementById('comment-count');
                                                commentCountElement.textContent = responseData.numberOfComments + ' commentaire(s)';

                                                // Réinitialiser le formulaire
                                                commentForm.reset();
                                            } else {
                                                // Gérer les erreurs de requête
                                                console.error('Une erreur s\'est produite lors de la soumission du formulaire');
                                            }
                                        } catch (error) {
                                            // Gérer les erreurs de connexion
                                            console.error('Une erreur s\'est produite lors de la connexion au serveur');
                                        }
                                    });
                                });

                            </script>

                    </div>
            </div>
        </div>
        </div>

    <div class="container">
        <div class="products-section pt-0">
            <h2 class="section-title">Produits similaires</h2>

            {% if similarProducts is not empty %}


                <div class="products-slider owl-carousel owl-theme dots-top dots-small owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1500px;">
                            {% for product in similarProducts %}
                                <div class="owl-item active" style="width: 280px; margin-right: 20px;">
                                    <div class="product-default">
                                        <figure>
                                            <a href="{{ path('app_product', {'slug': product.slug}) }}">
                                                <img src="/assets/images/hp/{{ product.illustration }}" class="product-image" alt="product">
                                            </a>
                                            <div class="label-group">
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="category-list">
                                                <a href="{{ path('app_products_by_category', {'categoryName' : product.marque}) }}" class="product-category">{{ product.marque }}</a>
                                            </div>
                                            <h3 class="product-title">
                                                <a href="{{ path('app_product', {'slug': product.slug}) }}">{{ product.name }}</a>
                                            </h3>

                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                {% if product.prixPromo is not null %}
                                                    <div class="label-group">
                                                        <div class="product-label label-hot">PROMO !</div>
                                                    </div>
                                                    <del class="old-price" style="color: gray; text-decoration: line-through;">
                                                        {{ (product.price / 100) | number_format(2, ',', '.') }} €
                                                    </del>
                                                    <span class="product-price promo">
                                        {{ (product.prixPromo / 100) | number_format(2, ',', '.') }} €
                                    </span>
                                                {% else %}
                                                    <span class="product-price">
                                        {{ (product.price / 100) | number_format(2, ',', '.') }} €
                                    </span>
                                                {% endif %}
                                            </div>
                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                                            <!-- End .price-box -->
                                            <div class="product-action">
                                                <!-- Assuming you have access to the product ID from your backend template -->
                                                <a href="#" title="Wishlist" class="btn-icon-wish" onclick="addToWishlist({{ product.id }})"><i class="icon-heart"></i></a>
                                                <script>
                                                    function addToWishlist(productId) {
                                                        // Effectuez la requête AJAX pour ajouter le produit à la liste de souhaits
                                                        $.ajax({
                                                            url: "{{ path('app_wishlist_add', {'productId': product.id}) }}",
                                                            method: "POST",
                                                            success: function(response) {
                                                                // Redirigez l'utilisateur vers la page de la liste de souhaits
                                                                window.location.href = "{{ path('app_wishlist') }}";
                                                            },
                                                            error: function(error) {
                                                                // Gérez les erreurs ici, si nécessaire
                                                                console.error("Une erreur s'est produite lors de l'ajout du produit à la liste de souhaits.");
                                                            }
                                                        });
                                                    }
                                                </script>

                                                <a href="{{ path('app_add_to_cart', {'id': product.id}) }}" class="btn-icon btn-add-cart"><i class="fa fa-arrow-right"></i><span>AJOUTER AU PANIER</span></a>
                                                <a href="ajax/product-quick-view.html" class="btn-quickview" title="Aperçu rapide"><i class="fas fa-external-link-alt"></i></a>
                                            </div>
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}


            <style>
                .product-default {
                    text-align: center;
                    padding: 15px;
                    margin-bottom: 30px;
                    background-color: #f7f7f7;
                    border: 1px solid #e1e1e1;
                }

                .product-default .product-image {
                    width: 100%;
                    height: auto;
                    max-height: 250px; /* Adjust this value as needed */
                }

                .product-default .product-title {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                .product-default .price-box {
                    margin-bottom: 10px;
                }

                .product-default .product-action {
                    margin-top: 10px;
                }
                @media screen and (max-width: 767px) {
                    .product-default {
                        padding: 10px;
                    }

                    .product-default .product-image {
                        max-height: 200px;
                    }

                    .product-default .product-title {
                        font-size: 14px;
                    }

                    .product-default .price-box {
                        margin-bottom: 5px;
                    }

                    .product-default .product-action {
                        margin-top: 5px;
                    }
                }

                /* Responsive adjustments for smaller screens (less than 576px) */
                @media screen and (max-width: 576px) {
                    .product-default {
                        padding: 10px;
                    }

                    .product-default .product-image {
                        max-height: 200px;
                    }

                    .product-default .product-title {
                        font-size: 14px;
                    }

                    .product-default .price-box {
                        margin-bottom: 5px;
                    }

                    .product-default .product-action {
                        margin-top: 5px;
                    }
                }

                /* Responsive adjustments for even smaller screens (less than 414px, typical smartphone) */
                @media screen and (max-width: 414px) {
                    .product-default {
                        padding: 15px;
                    }

                    .product-default .product-image {
                        max-height: 150px;
                    }

                    .product-default .product-title {
                        font-size: 12px;
                    }

                    .product-default .price-box {
                        margin-bottom: 3px;
                    }

                    .product-default .product-action {
                        margin-top: 3px;
                    }
                }
                @media screen and (max-width: 375px) {
                    .product-default {
                        padding: 10px;
                    }

                    .product-default .product-image {
                        max-height: 200px;
                        height: auto;

                    }

                    .product-default .product-title {
                        font-size: 14px;
                    }

                    .product-default .price-box {
                        margin-bottom: 5px;
                    }

                    .product-default .product-action {
                        margin-top: 5px;
                    }
                }

            </style>



        {#  <div class="container">
            <h2>Produits similaires</h2>
        </div>
        <div class="container">
            <div class="row">
                {% for product in similarProducts %}
                    <div class="col-lg-1 col-md-5 col-sm-8">
                        <div class="product">
                            <img src="/assets/images/hp/{{ product.illustration}}" alt="product"></div>
                            <h3>{{ product.name }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
       #}
        </div>
    </div>
</main>
{% endblock %}